<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CRITIC_OS | ACCESS GRANTED</title>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
<script defer src="https://cdn.vercel-insights.com/v1/script.js"></script>
{% include 'components/landing/styles.html' %}
</head>
<body>



{% include 'components/landing/background.html' %}

<div class="app-container">
    {% include 'components/landing/header.html' %}
    {% include 'components/landing/hero.html' %}
    {% include 'components/landing/footer.html' %}
</div>

{% include 'components/landing/scripts.html' %}
</body>
</html>
